<div>
    <h1>Cambio De Contraseña</h1>

    {{#if token}}
        <!-- Token válido -->
        <form id="changedPasswordForm" method="POST">
            <input type="hidden" name="email" value="{{email}}">
            <label>Ingresa Tu Nueva Contraseña</label>
            <input name="password" type="password">
            <br/>
            <input type="submit" value="Enviar">
        </form>
    {{else}}
        <!-- Token no válido -->
        <p>{{error}}</p>
    {{/if}}
</div>

    <script src="/js/passwordChanged.js"></script>




{{!-- <div>
    <h1>Cambio De Contraseña</h1>

    {{#if token}}
        <!-- Token válido -->
        <form id="resetPasswordForm" method="POST">
            <label>Ingresa Tu Nueva Contraseña</label>
            <input name="password" type="password">
            <br/>
            <input type="submit" value="Enviar">
        </form>
    {{else}}
        <!-- Token no válido -->
        <p>{{error}}</p>
    {{/if}}

</div>  --}}
